<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    <meta name="keywords" content="Edison Aguiar,Edison Aguiar de Souza Neto">
    <meta name="author" content="Edison Aguiar">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/fonts/futura-pt" rel="stylesheet">
    <link rel="stylesheet" href="/public/style/base.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon/site.webmanifest">
    {{ if .HasStyle }}
    <link rel="stylesheet" href="public/style/{{ .Name }}.css">
    {{ end }}
</head>

<body>
    <nav>
        <ol>
            <li><a href="/">home</a></li>
            <li><a href="/articles">articles</a></li>
            <li><a href="/bookmarks">bookmarks</a></li>
            <li><a href="/resume">resume</a></li>
        </ol>
    </nav>
    <main>
        {{ .Content }}
    </main>
</body>

</html>
