<div class="container">
    <img class="profile" src="public/images/profile.jpg" alt="Edison Aguiar" />

    <h1>
        Edison Aguiar
    </h1>

    <section aria-label="Introduction">
        <p>
            I'm a software engineer.
            Nowadays I'm studying systems engineering(focused on databases) and <a href="https://www.rust-lang.org/">rust</a>.
        </p>

        A list of things I'm building or will build using rust:
        <ul>
            <li>
                <a href="https://github.com/eaneto/rog">
                    Messaging System
                </a>
            </li>
            <li>
                <a href="https://github.com/eaneto/ssache">
                    Distributed In-Memory Cache
                </a>
            </li>
            <li>
                <a href="https://github.com/eaneto/raft">
                  <a href="https://raft.github.io/">Raft</a>
                  <a href="https://github.com/eaneto/raft/">implementation</a>
                </a>
            </li>
            <li>
                <a href="https://github.com/eaneto/ekilibri">
                    HTTP Server/Load Balancer
                </a>
            </li>
            <li>file compression program(based on <a href="https://www.gnu.org/software/gzip/">gzip</a>)</li>
            <li>Database based on <a href="https://hstore.cs.brown.edu/">H-Store</a></li>
            <li>Compiler</li>
            <li>File System</li>
            <li>OS Kernel</li>
        </ul>
    </section>

    <section aria-label="Main interests">
        <h2>Main interests</h2>
        <p>Databases, Distributed Systems, Astronomy, Electronics.</p>
    </section>

    <section aria-label="Contact">
        <h2>Contact</h2>
        <ul>
            <li>
                <a href="https://github.com/eaneto">Github</a>
            </li>
            <li>
              <a href="mailto:eaneto@posteo.com">eaneto@posteo.com</a>
            </li>
        </ul>
    </section>

    <section aria-label="Academic research">
        <h2>Academic research</h2>
        <p>
            At my <a href="https://www.mackenzie.br/" lang="pt">university</a> I worked on solar physics and databases, specifically PostgreSQL.
            Some papers published from the research:
        </p>
        <ul>
            <li>
                <p>
                    Tracking Automation Of The 7 GHZ Solar Radio Polarimeter Using a Paramount MEII Robotic Equatorial Mount
                </p>
            </li>
            <li>
                <p>
                    <a href="https://dspace.mackenzie.br/handle/10899/30904">
                        Performance of serializable transactions in high concurrency scenarios in PostgreSQL
                    </a>
                </p>
            </li>
        </ul>
    </section>
</div>
