<div class="container">
    <img class="profile" src="public/images/profile.jpg" alt="Frontal picture of Edison Aguiar" />

    <h1>
        Edison Aguiar
    </h1>

    <section aria-label="Introduction">
        <p>
            I'm a software engineer.
            Nowadays I'm studying systems engineering(focused on databases) and <a href="https://www.rust-lang.org/">rust</a>.
        </p>

        A list of things I'm building or will build using rust:
        <ul>
            <li>
                <a href="https://github.com/eaneto/rog">
                    Messaging System
                </a>
            </li>
            <li>
                <a href="https://github.com/eaneto/ssache">
                    Distributed In-Memory Cache
                </a>
            </li>
            <li>
                <a href="https://github.com/eaneto/raft">
                  <a href="https://raft.github.io/">Raft</a>
                  <a href="https://github.com/eaneto/raft/">implementation</a>
                </a>
            </li>
            <li>
                <a href="https://github.com/eaneto/ekilibri">
                    HTTP Server/Load Balancer
                </a>
            </li>
            <li>file compression program(based on <a href="https://www.gnu.org/software/gzip/">gzip</a>)</li>
            <li>Database based on <a href="https://hstore.cs.brown.edu/">H-Store</a></li>
            <li>Compiler</li>
            <li>File System</li>
            <li>OS Kernel</li>
        </ul>
    </section>

    <section aria-label="Main interests">
        <h2>Main interests</h2>
        <p>Distributed systems and databases.</p>
    </section>

    <section aria-label="Contact">
        <h2>Contact</h2>
        <ul>
            <li>
                <a href="https://github.com/eaneto">Github</a>
            </li>
            <li>
              <a href="mailto:eaneto@posteo.com">eaneto@posteo.com</a>
            </li>
        </ul>
    </section>

    <section aria-label="Research">
      <h2>Research</h2>
      <p>
        In the last couple of months I've been reading about how databases <i>try</i> to
        guarantee that the data written is actually durable (not only SQL databases),
        and I'm realizing most implementations don't really guarantee much. So
        I'm writing a small piece on what I believe are the more important
        things to be aware of when possibly confronted with durability issues.
      </p>
    </section>
</div>
