<section aria-label="Resume">
    Download PDF version in <a href="/public/pdf/resume.en.pdf">english</a> or in <a href="/public/pdf/resume.pt.pdf">portuguese</a>

    <section aria-label="Personal information">
        <p>Location: São Paulo, SP, Brazil</p>
    </section>
    <hr>
    <section aria-label="Work experience">
        <p class="job-duration">May 2022 – today</p>
        <p class="job-title">
            Senior software engineer
        </p>
        <p class="company-name">Pagbank</p>
        <ul class="job-description">
          <li>
            Architected and developed the new balance management microservices,
            developing a more performant and scalable system. Leveraged
            technologies like Kafka, Kotlin, Java, Oracle and Kubernetes to
            design a system prepared for sharding. Achieved an infrastructure
            cost reduction of thousands of dollars while maintaining an
            excellent performance, with REST APIs handling up to 250,000
            requests per minute, 99% which of which received a response in under
            50ms. Processed approximately 98% of events in under 5ms.
          </li>
          <li>
            Helped different engineering teams with their integration with the
            new microservices.
          </li>
          <li>
            Worked closely with product managers and different areas of the
            company to plan the roadmap for future features and improvements
            in our domain.
          </li>
          <li>
            Was on the on-call rotation helping solve incidents in production,
            writing automated alerts and dashboards with Grafana/New Relic and
            using New Relic APM and Jaeger to analyze performance bottlenecks.
          </li>
          <li>
            Participated in the hiring process by conducting technical
            interviews for engineering roles across various levels.
          </li>
          <li>
            Created a tech guild in the team to help onboard new team members,
            consolidate the knowledge of our tools and services and share new
            ideas.
          </li>
        </ul>
        <p class="job-duration">Jul 2021 – May 2022</p>
        <p class="job-title">
            Software engineer
        </p>
        <p class="company-name">Pagbank</p>
        <ul class="job-description">
          <li>
            Migrated different parts of our internal monolith to new
            microservices, reducing the dependency of various applications in
            the monolith.
          </li>
          <li>
            Responsible for designing, developing, and rolling out in production
            the new microservices, written in Kotlin, responsible for the
            accounting of the company. These services were written in Kotlin and
            deployed in our own private cloud, in our Kubernetes cluster.
          </li>
        </ul>
        <p class="job-duration">Nov 2019 – Jul 2021</p>
        <p class="job-title">
            Junior software engineer
        </p>
        <p class="company-name">Pagbank</p>
        <ul class="job-description">
          <li>
            Developed new services in response to a central bank regulation in
            Brazil, focused on receivables. I primarily worked with Java, Kafka,
            and Cassandra.
          </li>
          <li>
            Responsible for the maintenance and evolution of some microservices
            built to decouple internal monolith domains by abstracting legacy
            data. These services were built on AWS using Lambda (Go), DynamoDB,
            and SQS.
          </li>
        </ul>

        <p class="job-duration">Feb 2019 – Oct 2019</p>
        <p class="job-title">
            Software Engineer Intern
        </p>
        <p class="company-name">Pagbank</p>
        <ul class="job-description">
          <li>
            Developed an internal tool for the accounting department using Java
            and MySQL.
          </li>
          <li>
            Learned about automated tests, writing unit tests, and
            integration/component tests.
          </li>
        </ul>
    </section>
    <hr>
    <section aria-label="Research">
        <p class="job-duration">Mar 2018 – Jun 2019</p>
        <p class="job-title">
            Research student
        </p>
        <p class="company-name">
            Mackenzie Radio Astronomy and Astrophysics Center (CRAAM)
        </p>
        <ul class="job-description">
          <li>
            Developed different tools in python for solar flare data analysis.
          </li>
          <li>
            Automated the daily operation of the 7GHz solar radio
            polarimeter. Paper published: “Tracking Automation Of The 7 GHZ
            Solar Radio Polarimeter Using a Paramount MEII Robotic Equatorial
            Mount” at the Brazilian Society of Space Geophysics and Aeronomy
            Symposium (2018).
          </li>
        </ul>
    </section>
    <hr>
    <section aria-label="Education">
        <p class="job-duration">2018.1 – 2022.1</p>
        <p class="job-title">B.S. in Computer Science</p>
        <p class="company-name">Mackenzie Presbyterian University</p>
        <ul class="job-description">
          <li>
            My final project was a research on serializable transactions. More
            specifically the PostgreSQL implementation and how it performed
            compared to explicit locking.
          </li>
        </ul>
    </section>
</section>
