<section aria-label="Resume">
    Download PDF version in <a href="/public/pdf/main.en.pdf">english</a> or in <a href="/public/pdf/main.pdf">portuguese</a>

    <section aria-label="Personal information">
        <p>Location: São Paulo, SP, Brazil</p>
    </section>
    <hr>
    <section aria-label="Work experience">
        <p class="job-duration">May 2022 – today</p>
        <p class="job-title">
            Senior software engineer
        </p>
        <p class="company-name">Pagbank</p>
        <p class="job-description">
            More focused on developing the new balance management system I was
            able to be one of the leaderships on the team, leading technical
            discussions with my own team, different engineering teams and
            different areas of the company. In this project I worked
            architecting and developing the new balance system using
            technologies such as Java, Kotlin, Kafka and Oracle, preparing the
            architecture to be shard-ready for the near future, obtaining an
            infrastructure cost reduction of thousands of dollars and
            maintaining an excellent performance, with REST APIs
            receiving up to 250 thousand requests per minute with 99%
            of the requests receiving a response in less than 50ms.

            Worked in the hiring process helping in interviews for engineers
            of different levels. Documented multiple different services and
            created a study group to teach team members multiple different
            subjects.
        </p>
        <p class="job-duration">Jul 2021 – May 2022</p>
        <p class="job-title">
            Software engineer
        </p>
        <p class="company-name">Pagbank</p>
        <p class="job-description">
            Worked on breaking the financial movements domain model
            into a more scalable and resilient one, guaranteeing more
            availability in critical functions for the customers and
            the company, such as the customers' balance and the
            internal accounting system. Developing the new accounting
            system I had the opportunity to work with different
            engineering teams and different areas of the I mainly
            worked with Kotlin, Kafka and Oracle, achieving excellent
            performance and a considerably higher scalability than the
            previous system.


            During this time I also help to maintain and develop some
            new features for a product built to decouple some
            different domains from our internal monolith, by
            abstracting some legacy data, this services were built on
            AWS using tools such as Lambda(written in Go), DynamoDB
            and SQS.
        </p>
        <p class="job-duration">Nov 2019 – Jul 2021</p>
        <p class="job-title">
            Junior software engineer
        </p>
        <p class="company-name">Pagbank</p>
        <p class="job-description">
            Maintained and optimized the financial movements
            microservices, enchancing the performance and scalability
            of these systems using APM tools such as New Relic, most
            of the optimizations were related to database use(Oracle)
            and lock contention reduction.

            I also worked developing new services in a different
            domain related to receivables because of a new regulation
            by the central bank of Brazil, I primarily worked with
            Java, Kafka and Cassandra.
        </p>

        <p class="job-duration">Feb 2019 – Oct 2019</p>
        <p class="job-title">
            Intern
        </p>
        <p class="company-name">Pagbank</p>
        <p class="job-description">
            Working in one of Brazil's biggest financial services
            companies, I was part of the team responsible for the
            financial movements domain, learning how to build
            resilient and scalable distributed systems. I also
            developed internal tools for the treasury department,
            using Java and MySQL.
        </p>
    </section>
    <hr>
    <section aria-label="Research">
        <p class="job-duration">Mar 2018 – Jun 2019</p>
        <p class="job-title">
            Research student
        </p>
        <p class="company-name">
            Mackenzie Radio Astronomy and Astrophysics Center (CRAAM)
        </p>
        <p class="job-description">
            At CRAAM I worked at the automation of the 7GHz radio
            telescope(located at my university in São Paulo),
            analysing data from solar flares captured by the 7Ghz and
            developing libraries for data analysis of solar events of
            multiple telescopes.

            Paper published: "Tracking Automation Of The 7 GHZ Solar
            Radio Polarimeter Using a Paramount MEII Robotic
            Equatorial Mount" at the Brazilian Society of Space
            Geophysics and Aeronomy Symposium (2018).
        </p>
    </section>
    <hr>
    <section aria-label="Education">
        <p class="job-duration">2018.1 – 2022.1</p>
        <p class="job-title">B.S. in Computer Science</p>
        <p class="company-name">Mackenzie Presbyterian University</p>
        <p class="job-description">
            For my final project I decided to research databases,
            specifically PostgreSQL and transaction isolation. The
            goal of the project was to study PostgreSQL serializable
            isolation level in comparison with pessimistic
            locking. Paper: <a href="https://dspace.mackenzie.br/handle/10899/30904">
            "Performance of serializable transactions in high
            concurrency scenarios in PostgreSQL"</a>.
        </p>
    </section>
</section>
