html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #f1f1f1;
    font-size: 18px;
}

main {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    text-align: center;
}

a {
   color: #0070f3;
   text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ol {
    list-style-type: none;
    padding-left: 0;
}

nav ol li {
    display: inline-block;
}

img.profile {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
}

ul {
    list-style: none;
}
