html, body {
    padding: 0;
    margin: 0;
    font-family: 'Futura PT', sans-serif;
    font-size: 22px;
    font-weight: 400;
    background-color: #f1f1f1;
}

main {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 1rem auto 6rem;
}

a {
   color: #0070f3;
   text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ol {
    list-style-type: none;
    padding-left: 0;
}

nav ol li {
    display: inline-block;
    font-size: 1.21rem;
    margin-left: 10px;
    margin-right: 10px;
}

img.profile {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}
