<section aria-label="Link">
    <h1>A collection of interesting articles/videos</h1>
    <section aria-label="Architecture">
        <h3>Architecture</h3>
        <ul>
            <li>
                <a href="https://www.youtube.com/watch?v=PE4gwstWhmc">
                    How We've Scaled Dropbox (Video)
                </a>
            </li>
        </ul>
    </section>
    <section aria-label="Databases">
        <h3>Databases</h3>
        <ul>
            <li>
                <a href="https://www.youtube.com/watch?v=5ZjhNTM8XU8">
                    Transactions: myths, surprises and opportunities by Martin Kleppmann (Video)
                </a>
            </li>
        </ul>
    </section>
    <section aria-label="Operating systems">
        <h3>Operating Systems</h3>
        <ul>
            <li>
                <a href="https://toaruos.org/">
                    ToaruOS
                </a>
            </li>
        </ul>
    </section>
</section>
